---
layout: layouts/base.html
title: Kevin W. Hoffman - Product Manager, Designer, Developer
heading: Kevin W. Hoffman - Product Manager, Designer, Developer
description: Kevin is a product manager with a background in web design and development. He is currently looking for a remote position as a product manager.
---
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <section class="section section--accent">
        <div class="container">
            <div class="hero stack">
                <span class="hero__icon emoji">👋</span>
                <h1 class="hero__heading">
                    Hi, I’m Kevin—a designer and developer turned product manager.
                </h1>
                <p class="hero__description">I'm based in Pittsburgh, Pennsylvania and currently looking for a remote position as a product manager. On this site you'll find the principles and past work that influence my approach to product management today.</p>
            </div>
        </div>
    </section>
    <section class="section section--light">
        <div class="container stack stack--lg">
            <div class="section__intro stack stack--sm">
                <h2 class="section__heading">My Principles of Product Management</h2>
            </div>
            <ul class="principles">
                {% for principle in principles %}
                <li class="principle">
                    <div class="stack">
                        <span class="principle__icon">{{principle.icon}}</span>
                        <div class="stack stack--sm">
                            <h3 class="principle__heading">{{principle.title | safe}}</h2>
                            <p class="principle__description">{{principle.description | safe}}</p>
                        </div>
                    </div>
                    {% if principle.ctaText %}
                        <a class="principle__cta" href="{{principle.ctaUrl}}" target="_blank">{{principle.ctaText | safe}} ↗</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="section section--accent">
        <div class="container stack stack--lg stack--center">
            <div class="section__intro stack stack--center">
                <h2 class="section__heading">Ready to work together?</h2>
                <p class="section__description">If this sounds like the type of product management that your team needs, then let's chat.</p>
            </div>
            <div class="button-group">
                <a class="button" href="https://twitter.com/kevinwhoffman">Message me on Twitter</a>
                <a class="button" href="mailto:kevin@kevinwhoffman.com">Send me an email</a>
                <a class="button" href="/files/kevin-w-hoffman-resume.pdf">Download résumé</a>
            </div>
        </div>
    </section>
</main>
<footer class="footer section section--dark">
    <div class="container">
        <p class="colophon">
            Published with 💛 from Pittsburgh, PA<br>
            Built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://twemoji.twitter.com/">Twemoji</a>, and old-fashioned CSS<br>
            &copy;&nbsp;2021 Kevin W. Hoffman
        </p>
    </div>
</footer>
<script>
    twemoji.parse(document.body, {
        folder: "svg",
        ext: ".svg"
    });
</script>
